<!DOCTYPE html>
<html lang="en-US">
  <head>
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Jura:700|Raleway:400,900i|Spectral:200i,500" rel="stylesheet">
    <title>Garcia Technology Group</title>
  </head>
  <body>
    <noscript>
      <section>
        <div>
          <h1>Out of the Timbers</h1>
          <p>Welcome to Out of the Timbers, the home of finely crafted works.</p>
        </div>
      </section>
    </noscript>
    <div id="app"></div>
  </body>
</html>
